# An example command for setting the operation
# mode of an instrument.
- !Command
  name:      CORE_SET_OP_MODE
  opcode:    0x0006
  subsystem: CORE
  desc:      |
    This command sets the operational mode.

  arguments:
  - !Argument
    name:  mode
    desc:  Mode
    units: none
    type:  U8
    bytes: 0
    enum:
      0: SAFE
      1: IDLE
      2: SCANNING
      3: SCIENCE