# Dictionary describing the FSW table formats that are
# uploaded into FSW table memory. Uses OrderedDict to maintain
# the order, and contains the name of each column, description,
# datatype, units, and the maximum length for that column.

- !FSWTable
  name: response
  delimiter: ","
  uptype: 1
  size: 18
  header:
    - !FSWColumn
      name: uptype
      desc: This table's `uptype` field for use when decoding
      type: U8

    - !FSWColumn
      name: HEADER_COLUMN_TWO
      desc: The second column in our header
      type:  U8

    - !FSWColumn
      name: HEADER_COLUMN_THREE
      desc: The third column in our header
      type:  U8

  columns:
    - !FSWColumn
      name: COLUMN_ONE
      desc: First FSW Table Column
      type:  MSB_U16

    - !FSWColumn
      name: COLUMN_TWO
      desc: Second FSW Table Column
      type:  MSB_U16

    - !FSWColumn
      name: COLUMN_THREE
      desc: Third FSW Table Column
      type:  U8
      enum:
        0: TEST_ENUM_0
        1: TEST_ENUM_1
        2: TEST_ENUM_2
        3: TEST_ENUM_3
